In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [5]:
google = pd.read_csv("data/google_stock_price.csv", squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [7]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [8]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [9]:
pokemon.dtype

dtype('O')

In [10]:
google.dtype

dtype('float64')

In [11]:
google.is_unique

False

In [12]:
pokemon.is_unique

True

In [13]:
google.is_monotonic_increasing

False

In [17]:
google_sorted = google.sort_values(ascending=True)

In [43]:
google_sorted

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [18]:
google_sorted.is_monotonic_increasing

True

In [19]:
google.ndim

1

**Shape** gives the number of rows and the number columns (*dimensions*). `CODE SNIPPET`

In [20]:
google.shape

(3012,)

In [21]:
google.size

3012

In [23]:
google.name

'Stock Price'

In [24]:
google.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [25]:
google.name = 'Equity Price'

In [27]:
google.name

'Equity Price'

In [31]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([6,7,8,9])

In [42]:
pd.concat([s1, s2], ignore_index=True)

0    1
1    2
2    3
3    4
4    6
5    7
6    8
7    9
dtype: int64

In [38]:
pd.concat([s1, s2], axis=1)

   0  1
0  1  6
1  2  7
2  3  8
3  4  9

In [59]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]], columns=['colA','colB','colC','ColD'])

In [63]:
df.shape

(2, 4)

In [64]:
type(df.shape)

tuple

Method chaining!

In [49]:
poke_last_5 = pokemon.sort_values(ascending=False).head(5)
poke_last_5

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [47]:
pokemon.sort_values(ascending=False).head(5).tail(1)

570    Zoroark
Name: Pokemon, dtype: object

In [56]:
poke_last_5.reset_index(drop=True)

0     Zygarde
1    Zweilous
2       Zubat
3       Zorua
4     Zoroark
Name: Pokemon, dtype: object

In [66]:
google = google.sort_values(ascending=False)
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
2934    766.61
2882    764.65
2844    763.25
2858    762.51
2841    762.38
2845    762.37
2937    759.14
2933    759.00
2861    758.88
2851    758.09
2834    756.60
2835    755.98
2935    753.93
2932    753.20
2936    752.67
2842    752.54
2881    752.00
2931    751.72
2846    751.61
2921    750.53
         ...
28       65.47
29       64.74
27       63.37
24       60.35
25       59.86
21       59.62
23       59.13
26       59.07
22       58.86
20       58.69
19       56.93
18       55.94
17       55.69
2        54.65
1        54.10
5        53.90
16       53.70
6        53.02
4        52.95
15       52.61
3        52.38
8        51.13
14       51.10
13       51.10
7        50.95
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Equity Price, Length: 3012, dtype: float64

In [68]:
google.sort_values(inplace=True)
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Equity Price, dtype: float64

In [71]:
google.sort_values(ascending=False,inplace=True)
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Equity Price, dtype: float64

In [76]:
pokemon.sort_values(ascending=False, inplace=True)
pokemon.head(4)

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
Name: Pokemon, dtype: object

Use `sort_index` to get back to original sort order - unless you've reset the index of course!

In [83]:
pokemon.sort_index(inplace=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [84]:
3 in [1, 2, 3, 4, 5]

True

In [88]:
1 in pokemon #is checking the index, so is the same as:

True

In [94]:
1 in pokemon.index

True

In [92]:
"Ivysaur" in pokemon[1]

True

In [93]:
"Ivysaur" in pokemon.values

True

In [97]:
pokemon[43]

'Gloom'

In [96]:
pokemon[10:14]

10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
Name: Pokemon, dtype: object

In [98]:
pokemon[ [100, 520, 701]]

100    Electrode
520     Unfezant
701      Dedenne
Name: Pokemon, dtype: object

In [99]:
pokemon[10:20:2]

10      Metapod
12       Weedle
14     Beedrill
16    Pidgeotto
18      Rattata
Name: Pokemon, dtype: object

In [100]:
len(pokemon)

721

In [101]:
pokemon[:10]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [106]:
pokemon[-5:-1]

716    Yveltal
717    Zygarde
718    Diancie
719      Hoopa
Name: Pokemon, dtype: object