In [20]:
import pandas as pd

In [44]:
#plan = pd.read_excel("data/30 Day SE Plan and Project Plan.xlsx")

In [45]:
customers = pd.read_csv("data/Customers.csv")

In [46]:
customers.columns

Index(['CustomerId', 'FirstName', 'Age', 'Loveliness'], dtype='object')

In [48]:
customers.Age

0    40
1     8
2     7
Name: Age, dtype: int64

In [49]:
customers['FirstName']

0    Bridgett
1        Izzy
2         Zoe
Name: FirstName, dtype: object

In [50]:
customers

   CustomerId FirstName  Age  Loveliness
0         100  Bridgett   40          10
1         101      Izzy    8          10
2         102       Zoe    7          10

Adding a new column

In [51]:
customers['RandomFactor'] = customers.Age / customers.Loveliness

In [52]:
customers

   CustomerId FirstName  Age  Loveliness  RandomFactor
0         100  Bridgett   40          10           4.0
1         101      Izzy    8          10           0.8
2         102       Zoe    7          10           0.7

In [56]:
type(customers.Age)

pandas.core.series.Series

In [63]:
customers.Age[0]

40

In [68]:
customers.Age[:].values

array([40,  8,  7])

In [69]:
customers.Age.mean()

18.333333333333332

In [73]:
print('{0:.3f}'.format(customers.Age.mean()))

18.333

Return all fields based on column selection

In [76]:
customers[customers.Age < 40]

   CustomerId FirstName  Age  Loveliness  RandomFactor
1         101      Izzy    8          10           0.8
2         102       Zoe    7          10           0.7

Return one field based on column selection

In [82]:
customers[customers.Age>10].FirstName

0    Bridgett
Name: FirstName, dtype: object

In [85]:
customers.FirstName.value_counts().sort_index()

Bridgett    1
Izzy        1
Zoe         1
Name: FirstName, dtype: int64